<h1>
  <a href="/users/<%= @the_user.username %>">
    <%= @the_user.username %>s Profile
  </a>
</h1>

<p>
  Account privacy:
  <% if @the_user.private? %>
    Private
  <% else %>
    Public
  <% end %>
</p>

<p>
  Private: <%= @the_user.private? %>
</p>

<% if current_user %>
  <p>
    Signed in as
    <a href="/users/<%= current_user.username %>">
      <%= current_user.username %>
    </a>
  </p>
<% end %>

<p>
  Followers: <%= @follower_count %>
</p>

<p>
  Following: <%= @following_count %>
</p>

<p>
  Photos (<%= @photos.count %>)
</p>

<% if @pending_follow_requests.any? %>
  <h2>Pending Follow Requests</h2>
  <ul>
    <% @pending_follow_requests.each do |fr| %>
      <% sender = User.where({ :id => fr.sender_id }).at(0) %>
      <li>
        <a href="/users/<%= sender.username %>">
          <%= sender.username %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>

<% if current_user && current_user.id != @the_user.id %>
  <form action="/follow_requests" method="post">
    <input
      type="hidden"
      name="recipient_id"
      value="<%= @the_user.id %>"
    >
    <button type="submit">Follow</button>
  </form>
<% end %>

<h1><%= @the_user.username %>’s Photos</h1>

<ul>
  <% @photos.each do |photo| %>
    <li>
      <img
          src="<%= photo.image %>"
          alt="<%= photo.caption %>"
      >
      <p><%= photo.caption %></p>
    </li>
  <% end %>
</ul>
