<hr>

<h2>All Public Photos</h2>

<% if user_signed_in? %>
<form action="/photos" method="post" enctype="multipart/form-data">
  <label for="image">Image</label>
  <input id="image" type="file" name="image">

  <label for="caption">Caption</label>
  <input id="caption" type="text" name="caption">

  <button type="submit">Add photo</button>
</form>
<% end %>
<hr>

<ul>
  <% @public_photos.each do |photo| %>
    <li>
      <img
        src="<%= photo.image%>"
        alt="<%= photo.caption %>"
      >     
      <p><strong>Caption:</strong> <%= photo.caption %></p>
      <p><strong>Likes count:</strong> <%= photo.likes_count.inspect %></p>
      <p><strong>Comments count:</strong> <%= photo.comments_count.inspect %></p>
      <% owner = User.where({ :id => photo.owner_id }).at(0) %> 
      <p><strong>Owner:</strong> <%= owner.username %></p>
    </li>
  <% end %>
</ul>
