<h1><%= @the_photo.caption %></h1>

<p>
  Posted <%= time_ago_in_words(@the_photo.created_at) %> ago
</p>

<img
  src="<%= @the_photo.image%>"
  alt="<%= @the_photo.caption %>"
>

<p>
  Posted by <%= @owner_user.username %>
</p>

<hr>

<% if user_signed_in? && current_user.id == @the_photo.owner_id %>
  <form action="/update_photo/<%= @the_photo.id %>" method="post">
    <label for="query_caption">Caption</label>
    <input
      id="query_caption"
      type="text"
      name="query_caption"
      value="<%= @the_photo.caption %>"
    >
    <button type="submit">Update photo</button>
  </form>
<% end %>

<h2>Comments</h2>
<% if @comments.empty? %>
  <p>No comments yet.</p>
<% else %>
  <ul>
    <% @comments.each do |comment| %>
      <% commenter = User.where({ :id => comment.author_id }).at(0) %>
      <li>
        <strong><%= commenter.username %>:</strong>
        <%= comment.body %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? && current_user.id == @the_photo.owner_id %>
  <a href="/delete_photo/<%= @the_photo.id %>">
    Delete this photo
  </a>
<% end %>

<% if user_signed_in? %>
  <form action="/likes" method="post">
    <input
      type="hidden"
      name="photo_id"
      value="<%= @the_photo.id %>"
    >
    <button type="submit">Like</button>
  </form>
<% end %>

<% if user_signed_in? %>
  <form action="/comments" method="post">
    <input
      type="hidden"
      name="photo_id"
      value="<%= @the_photo.id %>"
    >
    <label for="body">Comment</label>
    <input
      id="body"
      type="text"
      name="body"
    >
    <button type="submit">Add comment</button>
  </form>
<% end %>
